/ Index (pages) view
-if current_user.present?
  .row#pending_invitations
    .small-9.large-3.push-9.columns
      - unless @invitations.blank?
        = render partial: "invitations/pending"

  .row#competitions_list
    .small-9.large-3.push-9.columns
      - unless @competitions.blank?
        = render partial: "competitions/list"
