/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
//= require foundation_and_overrides
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

@import 'foundation-icons';
@import "foundation/components/global";

body {
  padding-top: 60px;
}

label.checkbox {
  margin-bottom: 10px;
}

.top-bar-section ul li{
  a {
    &:hover { background-color: darken($primary-color, 20%); }
  }

  ul.dropdown a {
    &:hover {
      background-color: #212121;
      color: $primary-color;
    }
  }

}

footer {
  background-color: #111;
  color: darken($primary-color, 20%);
  position: fixed;
  bottom: 0px;
  width: 100%;

  p {
    padding: 0.5em;
    margin: 0;
  }

  span {
    color: lighten(#111, 10%);
    position: fixed;
    right: 1em;
    font-size: 0.5em;
  }
}