// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.foundicon-checkmark {
  color: $success-color;
}

.foundicon-remove {
  color: $alert-color;
}

body.pages.index {
  // Small Background image - See Media queries for larger screens
  background: url("/assets/Football_field_960x640.jpg") no-repeat center center fixed;
  // background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#competitions_list div:nth-child(1),
#pending_invitations div:nth-child(1) {
  background-color: rgba(255,255,255,.9);
  box-shadow: 0 0 20px darken($secondary-color, 60%);
  ul {
    padding-top: 1em;
  }
}

@media only screen and (max-width: 767px) {
  #competitions_list div:nth-child(1),
  #pending_invitations div:nth-child(1) {
  float: right;
  }
}

@media only screen and (min-width: 961px) {
  body.pages.index {
    background-image: url("/assets/Football_field_1280x852.jpg");
  }
}

@media only screen and (min-width: 1281px) {
  body.pages.index {
    background-image: url("/assets/Football_field_1621x1080.jpg");
  }
}