// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team_logo {
  padding: 0;
  margin: 0;
  width: 3em;
}