// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/components/global";

.pickable {
  // border: 2px solid rgba(0,150,0,0);

  &:hover {
    // border: 2px solid rgba(0,150,0,0.5);
    box-shadow: 0 0 0 2px $primary-color;
    cursor: pointer;
  }
}

.team_picker {
  width: 40%;
}

.draw_picker {
  width: 16%;
}

.score_box {
  font-size: 2em;
  width: 16%;
  padding: 0;
}

.picked_match {
  background-color: lighten($primary-color, 33%);
}