%p= t("devise.passwords.reset_email.greeting", email: @resource.email)

%p= t("devise.passwords.reset_email.someone_requested")

%p= link_to t("devise.passwords.change_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p= t("devise.passwords.reset_email.wrapup")
